{% extends "base.html" %}

{% block content %}

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Colleges to apply</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- popular_program_area_start  -->
    <div class="popular_program_area section__padding program__page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h3>Engineering Colleges in Indonesia</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nav class="custom_tabs text-center">
                        <div class="nav" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" href="{{url_for('medical')}}"  aria-controls="nav-home" aria-selected="true">Medical                          </a>
                            <a class="nav-item nav-link active"  href="{{url_for('engineering')}}" role="tab" aria-controls="nav-profile" aria-selected="false">Engineering </a>
                            <a class="nav-item nav-link" href="{{url_for('business')}}" role="tab" aria-controls="nav-contact" aria-selected="false">Business</a>
                            <a class="nav-item nav-link"  href="{{url_for('law')}}" role="tab" aria-controls="nav-contact" aria-selected="false">Law</a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="static/img/program/eg1.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Engineering</span>
                                    <h4>Bandang Instiute of Technology (ITB)</h4>
                                    <p>Location: 
                                        Jl. Ganesha No.10, Lb. Siliwangi, Coblong, Kota Bandung,, Coblong, West Java, 8006,Indonesia
                                        
                                        
                                        </p>
                                    <p>Fees:US$ 21100 </p>
                                    <p>Eligibility and admission: Undergrad program</p>
                                    <a href="https://www.itb.ac.id/" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="static/img/program/eg2.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Engineering</span>
                                    <h4>
                                        Padjadjaran University
                                        </h4>
                                        <p>Location: 
                                            Bandung
                                            
                                            
                                            </p>
                                        <p>Fees: IDR 1,000,000 </p>
                                        <p>Eligibility and admission: Undergrad program</p>
                                    <a href="https://www.unpad.ac.id/" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="static/img/program/eg3.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <span>
                                        Engineering
                                        (Agriculture and Biosystem Engineering, Agroindustrial Engineering,Civil and Environmental Engineering)
                                        </span>
                                    <h4>
                                        Bogor Agricultural University (BAU)
                                        </h4>
                                        <p>Location: 
                                            Kampus IPB, Jl. Raya Dramaga, Babakan, Kec. Dramaga, Bogor, Jawa Barat 16680, Indonesia
                                            
                                            
                                            </p>
                                        <p>Fees: 
                                            IDR 25,000,000
                                             </p>
                                        <p>Eligibility and admission: Undergrad program</p>
                                    <a href="
                                    https://ipb.ac.id/
                                    " class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="static/img/program/eg4.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Engineering</span>
                                    <h4>
                                        Gadjah Mada University (UGM)
                                        </h4>
                                    <p>Location: 
                                    
                                        Yogyakarta
                                        
                                        </p>
                                    <p>Fees: IDR 35,000,000 </p>
                                    <p>Eligibility and admission: Undergrad program</p>
                                    <a href="https://www.ugm.ac.id" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="static/img/program/eg5.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Engineering</span>
                                    <h4>University of Indonesia
                                    </h4>
                                    <p>Location: 
                                        Jawa Barat
                                        
                                        
                                        </p>
                                    <p>Fees: 1,000 US$
                                        (750 Euro)
                                         </p>
                                    <p>Eligibility and admission:
                                        Admission for UI known as SIMAK is an integrated selection process to be admitted to Universitas Indonesia held independently by the university. The tests are conducted simultaneously all over Indonesia for every single academic program available in the university.
                                        
                                        </p>
                                    <a href="https://eng.ui.ac.id/" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="static/img/program/eg6.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Engineering</span>
                                    <h4>
                                        Universitas Diponegoro (Undip)
                                        </h4>
                                    <p>Location: 
                                        Semarang
                                        
                                        
                                        </p>
                                    <p>Fees:1,000-2,500 US$
                                        (750-1,800 Euro)
                                         </p>
                                    <p>Eligibility and admission:
                                        UndergradYes, based on entrance examinations and students' past academic record and grades
                                    </p>
                                    <a href="
                                    https://www.undip.ac.id/
                                    " class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_program_area_end -->
{% endblock %}
