{% extends "base.html" %}

{% block content %}


    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Recent Events</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- recent_event_area_strat  -->
    <div class="recent_event_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Recent Events</h3>
                        <p>Upcoming events which can aid you in choosing a better college for you according to your interests.</p>
                    </div>
                    </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                   
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>15</span>
                            <p>August, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="https://humanconnections.com.au/nz-free-accidental-counsellor-online-event/">
                                <h4>Career Counselling Workshop</h4>
                             </a>
                            <p><span> <i class="flaticon-clock"></i>4:00 pm GMT</span> <span> <i class="flaticon-calendar"></i> 15Aug 2020 </span> <span> <i class="flaticon-placeholder"></i> Virtual</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>16</span>
                            <p>Aug, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="https://events.genndi.com/register/818182175026319569/07730839cc">
                                <h4>Secure Your Teen's Future with ​​​​​​​Extracurricular Programs</h4>
                             </a>
                            <p><span> <i class="flaticon-clock"></i> 5:00 pm GMT</span> <span> <i class="flaticon-calendar"></i> 16 Aug 2020 </span> <span> <i class="flaticon-placeholder"></i> Virtual</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>17</span>
                            <p>Aug, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="https://events.genndi.com/register/169105139238462669/67245c70bc">
                                <h4>STEM/STEAM? Who cares?</h4>
                             </a>
                            <p><span> <i class="flaticon-clock"></i>4:00 pm</span> <span> <i class="flaticon-calendar"></i> 17 Aug 2020 </span> <span> <i class="flaticon-placeholder"></i>Virtual</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
    
    <!-- recent_event_area_end  -->
{% endblock %}